html,body {
  background:#000;
  overflow:hidden;
}

div, img {
  position:absolute;
}

#logo {
  opacity:0;
  width:300px;
  height:160px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-80px;
}

.flare {
  mix-blend-mode: screen;
  width: 200px; /* Feste Größe für die Flares */
  height: 200px;
}
